// customize bootstrap variables here:

// @import "variables";
// @import "bootstrap";

@import "svg";

/* color of the branch text */
$highlight: #fff;


$strip: #2dccb7;

/* color of the anvilapp.io URL */
$subdomain: rgba(0,0,0,1);

/* the red in Anvil's logo */
$anvil-red: rgba(230, 57, 47, 1);

$block-red: #B31E15;

a {
	color: #333;
	text-decoration: none;
	&:hover {
		color: $anvil-red;
		text-decoration: none;
	}
}

body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}


header {
	border-bottom: 1px solid #a2a2a2;
}
.header-nav {


	.brand-group {
		margin: 0px 0 -10px 0;
		padding: 7px 0 0 20px; 

		display: inline-block;
	
		img {
			height: 60px;

		}
		span {
			font-size: 50px;
			vertical-align: top;
			position: relative;
			bottom: 2px;
			color: $anvil-red;
			font-weight: bold;
		}
	}

	ul {
		list-style: none;
		padding: 0 !important;
		margin: 0;
		display: inline;
		float: right;

		
		li {
			display: inline;
			height: 100%;
			margin: 0;
			float: right;
			a {
				display: inline-block;
				padding: 24px 25px;
				font-size: 18px;

				&:hover {
				background-color: #f2f2f2;
				}

				&.active {
					color: $anvil-red;
				}
			}
			

			&:first-child {
				a {
					padding: 24px 45px;
				}
			}

		}

		.nav-pop-item {
			// border-right: 1px solid #ccc;
			// border-left: 1px solid #ccc;
			font-weight: bold;
			background-color: #fcfcfc;
		}

		
	}
}

.block {
	width: 100%;
	padding: 35px 0;
	// border-top: 3px solid rgba(230, 57, 47, .05);
	border-top: 3px solid #ccc;
	text-align: center;
	// background-color: #f2f2f2;
	background-color: #ececec;
}

.hero-block {
	@extend .block;

	img {
		width: 500px;
		height: 400px;
	}
}

.info-block {
	@extend .block;
	background-color: #B31E15;
	color: white;

	h2 {
		
	}
	ul {
		list-style: none;
		padding: 0 !important;

		li {
			font-size: 24px;
			line-height: 3;
		}
	}

}

.subscription-bar {
	text-align: center;
	margin: 75px 0;

	input {
		border: 3px solid black;
		line-height: 30px;
		vertical-align: middle;
		padding: 5px;
		
		font-size: 18px;

	}

	input[type="email"] {
		width: 400px;
		border-radius: 8px 0 0 8px;
		padding-left: 20px;
	}
	input[type="submit"] {
		width: 200px;
		border-radius: 0 8px 8px 0;
		background-color: #FFE100;
		color: black;
		font-weight: bold;
		
	}

}


footer {
	@extend .block;
	background-color: #fff;

	ul {
		padding-left: 0 !important;
		list-style-type: none;
		display: inline;

		li {
			display: inline;

			a {
				display: inline-block;
				padding: 10px 25px;
			}
		}
	}
}




.story-block {
	@extend .block;
	background-color: $block-red;
	text-align: left;
	
	.story-group {
		display: inline-block;
		padding-left: 25px; 
		width: 600px;
		text-align: center;

	}

	h1 {
		color: #fff;
		

	}

	p {
		display: inline-block;
		width: 100%;
		line-height: 2.5;
		margin: 15px 0;
		font-size: 18px;
		color: #fff;
	}

}

.profile-pic {
	border-radius: 100%;
	border: 8px solid black;
	width: 150px;
	height: 150px;
}

.team-block {
	@extend .block;
	// text-align: left;

	h1 {
		// color: #fff;
	}

	.team-item {
		width: 325px;
		height: 500px;
		vertical-align: top;
		box-sizing: border-box;
		padding: 24px;
		margin: 8px;
		border: 2px solid #e0e0e0;
		border-radius: 2px;
		background-color: #fff;
		

		display: inline-block;

		p {
			text-align: left;
			font-size: 14px;
		}

		.profile-cofounder {
			@extend .profile-pic;
			border: 2px solid $block-red;
			
		}

		.profile-team {
			@extend .profile-pic;
			border: 2px solid #000;
		}

		ul {
			padding-left: 85px !important;
			text-align: left;
			list-style-type: dash;
		}
	}
}

.advisors-block {
	@extend .block;
	
	.advisor-group {
		width: 400px;
	}
}















