// customize bootstrap variables here:

@import "variables-bs";
@import "bootstrap";
@import "variables-main";

@import "svg";


// GLOBAL STYLES

body {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	// min-width: 887px;
}


a {
	color: #333;
	text-decoration: none;
	&:hover {
		color: $anvil-red;
		text-decoration: underline;
	}
}


.headline {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: bold;
}


// Block
.block {
	@extend .row;
	padding: 50px 25px;
	margin: 0;
	color: #333;
	// border-top: 3px solid rgba(230, 57, 47, .05);
	box-sizing: border-box;
	text-align: center;
	// background-color: #f2f2f2;
	
	// border: 3px solid rgba(0,0,0,0);
	background-color: #f2f2f2;
	border-bottom: $block-divider-width solid $block-divider-color;
}

.block-pop {
	@extend .block;
	background-color: $block-red;
	color: white;
}
	
// Navbar

header {
	border-bottom: $block-divider-width solid $block-divider-color;
}
.header-nav {


	.brand-group {
		margin: 0px 0 -5px 0;
		padding: 7px 0 0 20px; 
		font-family: 'Lato', Helvetica, Arial, sans-serif;
		display: inline-block;
	
		img {
			height: 60px;

		}
		span {
			font-size: 50px;
			vertical-align: top;
			position: relative;
			bottom: 2px;
			color: $anvil-red;
			font-weight: bold;
		}

		.beta-tag {
			font-size: 12px;
			color: #333;
			position: relative;
			top: 7px;
		}
	}

	ul {
		list-style: none;
		padding: 0 !important;
		margin: 0;
		display: inline;
		position: absolute;
		top: 0;
		right: 0;

		
		li {
			display: inline;
			height: 100%;
			margin: 0;
			float: right;
			a {
				display: inline-block;
				padding: 22px 25px;
				font-size: 18px;
				border-top: 2px solid rgba(0,0,0,0);

				&:hover {
				// background-color: #f2f2f2;
					// border-top: 2px solid $anvil-red
					transition: background-color, border-top .35s ease;
					background-color: #f2f2f2;
					border-top: 2px solid $anvil-red;
				}

			}
			

		}

		.nav-pop-item {
			// border-right: 1px solid #ccc;
			// border-left: 1px solid #ccc;
			font-weight: bold;
			background-color: #fcfcfc;
		}

		
	}
}

// Home blocks

.hero-block {
	@extend .block-pop;
	// background-image: url(../img/shattered_@2X.png);


	img {
		width: 500px;
		height: 400px;
	}
}

.info-block {
	@extend .block;
	background-color: #f2f2f2;

	h2 {
		
	}
	ul {
		list-style: none;
		padding: 0 !important;

		li {
			font-size: 24px;
			line-height: 3;
		}
	}

}

// Conversion bar

#subscription-bar {
	text-align: center;
	margin-top:25px;

	input {
		border: 3px solid #333;
		line-height: 45px;
		vertical-align: middle;
		padding: 5px;
		
		font-size: 18px;

	}

	input[type="email"] {
		width: 400px;
		border-radius: 8px 0 0 8px;
		padding-left: 20px;
		color: #333;
		transition: all 0.2s ease-in-out;
	
		&:hover {
			border-color: #000;
		}

		&:focus {
			outline: none;

			-webkit-box-shadow: 0px 0px 10px 0px rgba(255,236,23,0.68);
			-moz-box-shadow: 0px 0px 10px 0px rgba(255,236,23,0.68);
			box-shadow: 0px 0px 10px 0px rgba(255,236,23,0.68);
		}

		&:focus::-webkit-input-placeholder { /* WebKit browsers */
	    	opacity: 0.2;
	    	transition: opacity 0.5s ease-in-out;
		}

		&:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    	color: $anvil-red;
	    	opacity: 1;
		}
		&:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
	    	color: $anvil-red;
	    	opacity: 1;
		}
		&:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
	    	color:    $anvil-red;
		}
		
	}
	
	input[type="submit"] {
		width: 200px;
		border-radius: 0 8px 8px 0;
		background-color: #FFE100;
		color: #333;
		font-weight: bold;
		transition: all 0.2s ease-in-out;
		
		&:hover {
			background-color: #fff53d;
			border-color: #000;
			text-decoration: underline;
			-webkit-box-shadow: inset 0px 0px 0px 2px rgba(255,225,0,1);
-moz-box-shadow: inset 0px 0px 0px 2px rgba(255,225,0,1);
box-shadow: inset 0px 0px 0px 2px rgba(255,225,0,1);

		}
	}

}


// Footer

footer {
	@extend .block;
	background-color: #fff;
	border-bottom: none;

	ul {
		padding-left: 0;
		margin: 0;
		list-style-type: none;
		display: block;

		width: 100%;
		position: relative;
		clear: both;

		li {
			display: inline;
			

			a {
				display: inline-block;
				padding: 10px 25px;
			}

		}

		li.footer-divider {
			display: inline-block;
			width: 100px;
		}
	}
}


// About blocks

.story-block {
	@extend .block;
	text-align: left;
	
	.story-group {
		display: inline-block;
		padding-left: 25px; 
		// width: 650px;
		text-align: center;

	}

	p {
		display: inline-block;
		width: 100%;
		line-height: 2.5;
		margin: 15px 0;
		font-size: 18px;
	}

}

.mission-block {
	@extend .block-pop;
}

.profile-pic {
	border-radius: 100%;
	border: 2px solid $anvil-red;
	width: 150px;
	height: 150px;
}

.team-block {
	@extend .block;
	// background-image: url(../img/shattered_@2X.png);
	box-sizing: border-box;
	h1 {
		margin-bottom: 50px;
	}

	.team-item {
		width: 325px;
		height: 500px;
		vertical-align: top;
		box-sizing: border-box;
		padding: 16px;
		margin: 8px;
		border: 2px solid #e0e0e0;
		border-radius: 3px;
		background-color: #fff;
		position: relative;
		border: 2px solid #e0e0e0;
		

		display: inline-block;

		p {
			text-align: left;
			font-size: 14px;
		}

		.title {
			display: block;
			border-bottom: 2px solid #e0e0e0;
			padding-bottom: 8px;
			margin-bottom: 8px;
			font-size: 16px;
		}


		.team-contact-bar {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			
			list-style: none;
			padding: 8px 0px;
			margin: 0 16px;
			box-sizing: border-box;

			border-top: 2px solid #e0e0e0;
			// background-color: #f1c40f;
			// background-color: #2ecc71;
			// background-color: #e67e22;


			li {
				display: inline;

				a {
					padding: 0 4px;
				}

				&:last-child {
					border-top: 1px solid rgba(255,255,255,0.2);
					margin-top: 4px;
					padding-top: 4px;
					display: block;
				}
			}
		}

	}
}


// Contact block

.contact-block {
	@extend .block;

	.map-group {
		@extend .col-xs-12;
		@extend .col-sm-12;
		@extend .col-md-6;
		@extend .col-lg-6;
	}

	.contact-info-group {
		@extend .col-xs-12;
		@extend .col-sm-12;
		@extend .col-md-6;
		@extend .col-lg-6;

		text-align: left;

		.contact-list {
			// text-align: left;
			list-style: none;
			margin: 50px 0;
			padding: 0;
			font-size: 24px;

		}
	}
}

// List divider

.divider {
	display: inline-block;
	width: 50px;
}

// Google map

#menlo-park-map {
	width: 100%;
	height: 400px;
	margin-top: 50px;
}














