/* line 1, ../sass/_svg.scss */
#URL {
  display: none;
}

/* line 5, ../sass/_svg.scss */
#CODE-PATCH, #ANVIL-SPARK-1, #ANVIL-SPARK-2, #ANVIL-SPARK-3 {
  fill: #333;
  animation: strobe-colorful 8s infinite ease-in-out alternate;
  -webkit-animation: strobe-colorful 8s infinite ease-in-out;
}

@keyframes strobe-colorful {
  /* line 13, ../sass/_svg.scss */
  0% {
    fill: #f1c40f;
  }

  /* line 15, ../sass/_svg.scss */
  25% {
    fill: #1abc9c;
  }

  /* line 17, ../sass/_svg.scss */
  50% {
    fill: #f39c12;
  }

  /* line 21, ../sass/_svg.scss */
  75% {
    fill: #e74c3c;
  }

  /* line 23, ../sass/_svg.scss */
  100% {
    fill: #f1c40f;
  }
}

@-webkit-keyframes strobe-colorful {
  /* line 27, ../sass/_svg.scss */
  0% {
    fill: #f1c40f;
  }

  /* line 29, ../sass/_svg.scss */
  25% {
    fill: #1abc9c;
  }

  /* line 31, ../sass/_svg.scss */
  50% {
    fill: #f39c12;
  }

  /* line 35, ../sass/_svg.scss */
  75% {
    fill: #e74c3c;
  }

  /* line 37, ../sass/_svg.scss */
  100% {
    fill: #f1c40f;
  }
}

/* line 41, ../sass/_svg.scss */
#CLOUD-GROUP {
  animation: drift 3s infinite linear alternate;
  -webkit-animation: drift 3s infinite linear alternate;
}

@keyframes drift {
  /* line 49, ../sass/_svg.scss */
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  /* line 50, ../sass/_svg.scss */
  50% {
    -webkit-transform: translate(0px, 4px);
  }

  /* line 51, ../sass/_svg.scss */
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}

@-webkit-keyframes drift {
  /* line 54, ../sass/_svg.scss */
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  /* line 55, ../sass/_svg.scss */
  50% {
    -webkit-transform: translate(0px, 4px);
  }

  /* line 56, ../sass/_svg.scss */
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}

/* color of the branch text */
/* color of the anvilapp.io URL */
/* the red in Anvil's logo */
/* line 22, ../sass/styles.scss */
a {
  color: #333;
  text-decoration: none;
}
/* line 25, ../sass/styles.scss */
a:hover {
  color: #e6392f;
  text-decoration: none;
}

/* line 31, ../sass/styles.scss */
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  min-width: 860px;
}

/* line 39, ../sass/styles.scss */
header {
  border-bottom: 1px solid #a2a2a2;
}

/* line 45, ../sass/styles.scss */
.header-nav .brand-group {
  margin: 0px 0 -10px 0;
  padding: 7px 0 0 20px;
  display: inline-block;
}
/* line 51, ../sass/styles.scss */
.header-nav .brand-group img {
  height: 60px;
}
/* line 55, ../sass/styles.scss */
.header-nav .brand-group span {
  font-size: 50px;
  vertical-align: top;
  position: relative;
  bottom: 2px;
  color: #e6392f;
  font-weight: bold;
}
/* line 65, ../sass/styles.scss */
.header-nav ul {
  list-style: none;
  padding: 0 !important;
  margin: 0;
  display: inline;
  float: right;
}
/* line 73, ../sass/styles.scss */
.header-nav ul li {
  display: inline;
  height: 100%;
  margin: 0;
  float: right;
}
/* line 78, ../sass/styles.scss */
.header-nav ul li a {
  display: inline-block;
  padding: 24px 25px;
  font-size: 18px;
}
/* line 83, ../sass/styles.scss */
.header-nav ul li a:hover {
  background-color: #f2f2f2;
}
/* line 87, ../sass/styles.scss */
.header-nav ul li a.active {
  color: #e6392f;
}
/* line 94, ../sass/styles.scss */
.header-nav ul li:first-child a {
  padding: 24px 45px;
}
/* line 101, ../sass/styles.scss */
.header-nav ul .nav-pop-item {
  font-weight: bold;
  background-color: #fcfcfc;
}

/* line 112, ../sass/styles.scss */
.block, .hero-block, .info-block, footer, .story-block, .team-block, .advisors-block {
  width: 100%;
  padding: 35px 0;
  border-top: 3px solid #ccc;
  text-align: center;
  background-color: #ececec;
}

/* line 122, ../sass/styles.scss */
.hero-block {
  background-image: url(../img/shattered_@2X.png);
}
/* line 126, ../sass/styles.scss */
.hero-block img {
  width: 500px;
  height: 400px;
}

/* line 132, ../sass/styles.scss */
.info-block {
  background-color: #B31E15;
  color: white;
}
/* line 140, ../sass/styles.scss */
.info-block ul {
  list-style: none;
  padding: 0 !important;
}
/* line 144, ../sass/styles.scss */
.info-block ul li {
  font-size: 24px;
  line-height: 3;
}

/* line 152, ../sass/styles.scss */
.subscription-bar {
  text-align: center;
  margin: 75px 0;
}
/* line 156, ../sass/styles.scss */
.subscription-bar input {
  border: 3px solid black;
  line-height: 30px;
  vertical-align: middle;
  padding: 5px;
  font-size: 18px;
}
/* line 166, ../sass/styles.scss */
.subscription-bar input[type="email"] {
  width: 400px;
  border-radius: 8px 0 0 8px;
  padding-left: 20px;
}
/* line 171, ../sass/styles.scss */
.subscription-bar input[type="submit"] {
  width: 200px;
  border-radius: 0 8px 8px 0;
  background-color: #FFE100;
  color: black;
  font-weight: bold;
}

/* line 183, ../sass/styles.scss */
footer {
  background-color: #fff;
}
/* line 187, ../sass/styles.scss */
footer ul {
  padding-left: 0 !important;
  list-style-type: none;
  display: inline;
}
/* line 192, ../sass/styles.scss */
footer ul li {
  display: inline;
}
/* line 195, ../sass/styles.scss */
footer ul li a {
  display: inline-block;
  padding: 10px 25px;
}

/* line 206, ../sass/styles.scss */
.story-block {
  background-color: #b31e15;
  text-align: left;
}
/* line 211, ../sass/styles.scss */
.story-block .story-group {
  display: inline-block;
  padding-left: 25px;
  width: 600px;
  text-align: center;
}
/* line 219, ../sass/styles.scss */
.story-block h1 {
  color: #fff;
}
/* line 225, ../sass/styles.scss */
.story-block p {
  display: inline-block;
  width: 100%;
  line-height: 2.5;
  margin: 15px 0;
  font-size: 18px;
  color: #fff;
}

/* line 236, ../sass/styles.scss */
.profile-pic, .team-block .team-item .profile-cofounder, .team-block .team-item .profile-team {
  border-radius: 100%;
  border: 8px solid black;
  width: 150px;
  height: 150px;
}

/* line 243, ../sass/styles.scss */
.team-block {
  background-image: url(../img/shattered_@2X.png);
}
/* line 251, ../sass/styles.scss */
.team-block .team-item {
  width: 325px;
  height: 500px;
  vertical-align: top;
  box-sizing: border-box;
  padding: 24px;
  margin: 8px;
  border: 2px solid #e0e0e0;
  border-radius: 2px;
  background-color: #fff;
  display: inline-block;
}
/* line 265, ../sass/styles.scss */
.team-block .team-item p {
  text-align: left;
  font-size: 14px;
}
/* line 270, ../sass/styles.scss */
.team-block .team-item .profile-cofounder {
  border: 2px solid #b31e15;
}
/* line 276, ../sass/styles.scss */
.team-block .team-item .profile-team {
  border: 2px solid #000;
}
/* line 281, ../sass/styles.scss */
.team-block .team-item ul {
  padding-left: 85px !important;
  text-align: left;
  list-style-type: dash;
}

/* line 292, ../sass/styles.scss */
.advisors-block .advisor-group {
  width: 400px;
}

@media (max-width: 1200px) {
  /* line 300, ../sass/styles.scss */
  .svg-computer {
    width: 400px;
  }
}
@media (max-width: 1050px) {
  /* line 306, ../sass/styles.scss */
  .svg-computer {
    display: none;
  }

  /* line 309, ../sass/styles.scss */
  .story-block {
    text-align: center;
  }
}
