/* line 1, ../sass/_svg.scss */
#URL {
  display: none;
}

/* line 5, ../sass/_svg.scss */
#CODE-PATCH, #ANVIL-SPARK-1, #ANVIL-SPARK-2, #ANVIL-SPARK-3 {
  fill: #333;
  animation: strobe-colorful 8s infinite ease-in-out alternate;
  -webkit-animation: strobe-colorful 8s infinite ease-in-out;
}

@keyframes strobe-colorful {
  /* line 13, ../sass/_svg.scss */
  0% {
    fill: #f1c40f;
  }

  /* line 15, ../sass/_svg.scss */
  20% {
    fill: #1abc9c;
  }

  /* line 17, ../sass/_svg.scss */
  40% {
    fill: #f39c12;
  }

  /* line 19, ../sass/_svg.scss */
  60% {
    fill: #3498db;
  }

  /* line 21, ../sass/_svg.scss */
  80% {
    fill: #e74c3c;
  }

  /* line 23, ../sass/_svg.scss */
  100% {
    fill: #f1c40f;
  }
}

@-webkit-keyframes strobe-colorful {
  /* line 27, ../sass/_svg.scss */
  0% {
    fill: #f1c40f;
  }

  /* line 29, ../sass/_svg.scss */
  20% {
    fill: #1abc9c;
  }

  /* line 31, ../sass/_svg.scss */
  40% {
    fill: #f39c12;
  }

  /* line 33, ../sass/_svg.scss */
  60% {
    fill: #3498db;
  }

  /* line 35, ../sass/_svg.scss */
  80% {
    fill: #e74c3c;
  }

  /* line 37, ../sass/_svg.scss */
  100% {
    fill: #f1c40f;
  }
}

/* line 41, ../sass/_svg.scss */
#CLOUD-GROUP {
  animation: drift 3s infinite linear alternate;
  -webkit-animation: drift 3s infinite linear alternate;
}

@keyframes drift {
  /* line 49, ../sass/_svg.scss */
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  /* line 50, ../sass/_svg.scss */
  50% {
    -webkit-transform: translate(0px, 4px);
  }

  /* line 51, ../sass/_svg.scss */
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}

@-webkit-keyframes drift {
  /* line 54, ../sass/_svg.scss */
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  /* line 55, ../sass/_svg.scss */
  50% {
    -webkit-transform: translate(0px, 4px);
  }

  /* line 56, ../sass/_svg.scss */
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}

/* color of the branch text */
/* color of the anvilapp.io URL */
/* the red in Anvil's logo */
/* line 20, ../sass/styles.scss */
a {
  color: #333;
  text-decoration: none;
}
/* line 23, ../sass/styles.scss */
a:hover {
  color: #e6392f;
  text-decoration: none;
}

/* line 29, ../sass/styles.scss */
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

/* line 36, ../sass/styles.scss */
header {
  border-bottom: 1px solid #a2a2a2;
}

/* line 42, ../sass/styles.scss */
.header-nav .brand-group {
  margin: 7px 0 -10px 0;
  display: inline-block;
}
/* line 47, ../sass/styles.scss */
.header-nav .brand-group img {
  height: 60px;
}
/* line 51, ../sass/styles.scss */
.header-nav .brand-group span {
  font-size: 55px;
  vertical-align: top;
  position: relative;
  bottom: 10px;
  color: #e6392f;
}
/* line 60, ../sass/styles.scss */
.header-nav ul {
  list-style: none;
  padding: 0 !important;
  margin: 0;
  display: inline;
  float: right;
}
/* line 68, ../sass/styles.scss */
.header-nav ul li {
  display: inline;
  height: 100%;
  margin: 0;
  float: right;
}
/* line 73, ../sass/styles.scss */
.header-nav ul li a {
  display: inline-block;
  padding: 24px 25px;
  font-size: 18px;
}
/* line 78, ../sass/styles.scss */
.header-nav ul li a:hover {
  background-color: #f2f2f2;
}
/* line 85, ../sass/styles.scss */
.header-nav ul li:first-child a {
  padding: 24px 45px;
}
/* line 92, ../sass/styles.scss */
.header-nav ul .nav-pop-item {
  font-weight: bold;
  background-color: #fcfcfc;
}

/* line 103, ../sass/styles.scss */
.block, .hero-block, .info-block, footer {
  width: 100%;
  padding: 35px 0;
  border-top: 3px solid #ccc;
  text-align: center;
  background-color: #ececec;
}

/* line 116, ../sass/styles.scss */
.hero-block img {
  width: 500px;
  height: 400px;
}

/* line 122, ../sass/styles.scss */
.info-block {
  background-color: #B31E15;
  color: white;
}
/* line 130, ../sass/styles.scss */
.info-block ul {
  list-style: none;
  padding: 0 !important;
}
/* line 134, ../sass/styles.scss */
.info-block ul li {
  font-size: 24px;
  line-height: 3;
}

/* line 142, ../sass/styles.scss */
.subscription-bar {
  text-align: center;
  margin: 75px 0;
}
/* line 146, ../sass/styles.scss */
.subscription-bar input {
  border: 3px solid black;
  line-height: 30px;
  vertical-align: middle;
  padding: 5px;
  font-size: 18px;
}
/* line 156, ../sass/styles.scss */
.subscription-bar input[type="email"] {
  width: 400px;
  border-radius: 8px 0 0 8px;
  padding-left: 20px;
}
/* line 161, ../sass/styles.scss */
.subscription-bar input[type="submit"] {
  width: 200px;
  border-radius: 0 8px 8px 0;
  background-color: #FFE100;
  color: black;
  font-weight: bold;
}

/* line 172, ../sass/styles.scss */
footer {
  background-color: #fff;
}
/* line 176, ../sass/styles.scss */
footer ul {
  padding-left: 0 !important;
  list-style-type: none;
  display: inline;
}
/* line 181, ../sass/styles.scss */
footer ul li {
  display: inline;
}
/* line 184, ../sass/styles.scss */
footer ul li a {
  display: inline-block;
  padding: 10px 25px;
}
